<ion-view view-title="favorites" ng-controller = "FavoritesCtrl">
  <ion-header-bar class="bar bar-header">
    <button class="button button-small button-clear" type="submit" ng-click="goBack()"><i class="ion-ios-arrow-back"></i> Back</button>

    <div class="h1 title">Favorite Dates</div>
  </ion-header-bar>
  <ion-content>
    <ion-item class="item-text-wrap">
      <h2>Saved Dates</h2>
      <div class="card">
        <ion-radio ng-repeat="favorite in favorites" ng-click="getDetails($index)" tabIndex={{$index}}>{{favorite.dateIdea.dateIdeaName}}</ion-radio>
      </div>
    </ion-item>
  </ion-content>
</ion-view>