<ion-view view-title="findadate">
  <ion-content>
    <h2>Date formula picker</h2>
    <h4></h4>
    <ion-item>
      {{currentQuestion.question}}
      <ion-radio name="{{currentQuestion.field}}" ng-repeat="possibility in currentQuestion.possibilities" ng-value="possibility" ng-model="currentQuestion.chosenOption" tabIndex={{$index}}>{{possibility}}</ion-radio>
      <div class="item">
        <a class="button" type="submit" ng-click="prevQuestion()">Back</a>
        <a class="button button-positive" type="submit" ng-click="nextQuestion()">Next</a>
      </div>
    </ion-item>
  </ion-content>
</ion-view>