<ion-view view-title="Home">
  <ion-header-bar class="bar bar-header">
    <div class="h1 title"><i class="dateworthy-i-logo"></i> Dateworthy</div>
    <button class="button button-small button-clear" ng-click="savedLikes()"><i class="ion-bookmark"></i></button>
  </ion-header-bar>
  <ion-content>
    <ion-item class="item item-text-wrap">
      <h2 class="question">Hi, {{ userData.firstName }}. What kind of date do you want to go on today?</h2>
      <div class="padding">
        <a class="button button-block button-positive button-outline" type="submit" ui-sref="findadate({questionId: 0})">Talk me through it.</a>
      </div>
    </ion-item>
  </ion-content>
</ion-view>