<ion-view view-title="dateidea">
  <ion-header-bar class="bar bar-header">
    <button class="button button-clear" ng-click="goBack()"><i class="ion-ios-arrow-back"></i></button>
    <div class="h1 title">More Details</div>
  </ion-header-bar>
  <ion-content ng-cloak>
    <div class="card date-idea" ng-model="idea">
      <div class="idea item item-text-wrap">
        <h2>{{idea.idea}}</h2>
      </div>
      <div ng-if="idea.imgUrl" class="item item-image">
        <img src="{{idea.imgUrl}}" />
      </div>
      <div class="item item-text-wrap date-details">
        <!-- <p>{{idea.location}}</p> -->
        <h3>{{idea.name}}</h3>
        <p class="category" ng-if="idea.categories">
          <span ng-repeat="category in idea.categories">
            {{ category.name }}{{$last ? '' : ' &bull;'}}
          </span>
        </p>
        <p class="address" ng-if="idea.location.formattedAddress">
          <span ng-repeat="line in idea.location.formattedAddress">
            {{ line }}
          </span>
        </p>
        <div class="hours" ng-if="idea.hours">
          <p ng-repeat="timeframe in idea.hours.timeframes">
            <span class="open-day">{{timeframe.days}}</span>
            <span ng-repeat="openSeg in timeframe.open">
              {{openSeg.renderedTime}}
            </span>
          </p>
        </div>
        <p class="phone" ng-if="idea.contact.formattedPhone">
          <i class="ion-ios-telephone"></i> {{idea.contact.formattedPhone}}
        </p>
        <p ng-if="idea.description">
          {{idea.description}}
        </p>
        <p class="fs-link" ng-if="idea.canonicalUrl">
          <a ng-href="{{idea.canonicalUrl}}" target="_blank"> <i class="ion-social-foursquare"></i> Open in Foursquare</a>
        </p>
         <div id="map"></div>
           <!-- <div id="map" data-tap-disabled="true"></div> -->


        <!-- <p>{{idea.hours}} -->
      </div>
      <div class="item like-dislike">
        <a class="button button-assertive button-dislike" ng-click="dislike()" ng-class="{'button-outline' : idea.disliked == '0'}"><i class="icon ion-close-round"></i></a>
        <a class="button button-balanced button-like" ng-click="like()" ng-class="{'button-outline' : idea.liked == '0'}"><i class="icon ion-checkmark-round"></i></a>
      </div>
    </div>
    
  </ion-content>
</ion-view>