<ion-view view-title="dateidea">
  <ion-header-bar class="bar bar-header">
    <button class="button button-clear" ng-click="clearData()"><i class="ion-home"></i></button>
    <div class="h1 title">Date Idea</div>
    <button class="button button-small button-clear" ng-click="savedLikes()"><i class="ion-bookmark"></i></button>
  </ion-header-bar>
  <ion-content ng-cloak>
    <div class="card date-idea" ng-model="idea">
      <div class="image-container">
        <div class="like-dislike">
          <a class="button button-dislike" ng-click="dislike()" ng-class="{'button-disliked' : idea.disliked == '1'}"><i class="icon ion-close-round"></i></a>
          <a class="button button-like" ng-click="like()" ng-class="{'button-liked' : idea.liked == '1'}"><i class="icon ion-ios-heart"></i></a>
        </div>
        <div class="item item-image">
          <div ng-if="idea.imgUrl" class="img" style="background-image: url('{{idea.imgUrl}}'); width: {{imgWidth}}; height: {{imgWidth}}">
          </div>

        </div>
      </div>
      <div class="idea item item-text-wrap">
        <h2>{{idea.idea}}</h2>
        <div class="show-more">
          <a ng-click="toggleDetails()">
            <i class="ion-more"></i> 
          </a>
        </div>

      </div>
    </div>
    <div class="card date-details" ng-show="idea.detailsVisible">
      <div class="item item-text-wrap">
        <div class="more-details" ng-show="idea.detailsVisible">
          <button ng-class="idea.flagged ? 'disabled button button-small flag' : 'flag button button-small'" ng-click="flagDate()">
            <i class="ion-flag"></i>
          </button>

          <!-- <p>{{idea.location}}</p> -->
          <h3>{{idea.name}}</h3>
          <p class="category" ng-if="idea.categories">
            <span ng-repeat="category in idea.categories">
              {{ category.name }}{{$last ? '' : ' &bull;'}}
            </span>
          </p>
          <p class="address" ng-if="idea.location.formattedAddress">
            <span ng-repeat="line in idea.location.formattedAddress">
              {{ line }}
            </span>
          </p>
          <div class="hours" ng-if="idea.hours">
            <p ng-repeat="timeframe in idea.hours.timeframes">
              <span class="open-day">{{timeframe.days}}</span>
              <span ng-repeat="openSeg in timeframe.open">
                {{openSeg.renderedTime}}
              </span>
            </p>
          </div>
          <p class="phone" ng-if="idea.contact.formattedPhone">
            <i class="ion-ios-telephone"></i> {{idea.contact.formattedPhone}}
          </p>
          <p ng-if="idea.description">
            {{idea.description}}
          </p>
          <p class="fs-link" ng-if="idea.canonicalUrl">
            <a ng-href="{{idea.canonicalUrl}}" target="_blank"> <i class="ion-social-foursquare"></i> Open in Foursquare</a>
          </p>
          <div id="{{'venueMap' + idea.index}}" class="venueMap" data-tap-disabled="true">
            {{ idea.mapInit ? null : initMap(idea.location.lat, idea.location.lng, idea.name) }}
          </div>
        </div>
      </div>
    </div>
    
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-small button-light" type="submit" ng-click="prevIdea()" ng-hide="idea.index === 0">Previous idea</button>
    <button class="button button-small button-light pull-right" type="submit" ng-click="nextIdea()" ng-hide= "idea.last === true">Next idea</button>
  </div>
</ion-view>