<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"><i class="dateworthy-i-logo"></i> dateworthy</h1>
  </ion-header-bar>
  <ion-content class="login">
      <div class="list">
        <div class="item item-text-wrap">
          <div class="logo">
            <img src="./img/dateworthy-logo.png" class="dateworthy-logo" />
          </div>
          <h2>Welcome to dateworthy, the app that gives you curated date ideas. (Results may vary).</h2>
            <button class="button button-block button-positive button-outline" ng-click="fbLogin()">
              Login with Facebook
            </button>
            <H2 class="loginQ">or...</H2>
            <button class="button button-block button-positive button-outline" ng-click="noLogin()">
              Give me a date idea already!
            </button>
        </div>
      </div>
  </ion-content>
</ion-modal-view>
