<ion-modal-view>
  <ion-header-bar>
    <h1 class="title"><i class="dateworthy-i-logo"></i> Welcome to Dateworthy</h1>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <div class="item">
            <button class="button button-block button-positive button-outline" ng-click="fbLogin()">
              Login with Facebook
            </button>
            <H2 class="loginQ">or...</H2>
            <button class="button button-block button-positive button-outline" ng-click="noLogin()">
              Give me a date idea already!
            </button>
        </div>
      </div>
  </ion-content>
</ion-modal-view>
