# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

dateClient/node_modules/
dateServer/node_modules/
dateClient/platforms/
dateClient/plugins/
dateClient/www/lib/
node_modules/
*.log
dateServer/secret