# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

dateClient/node_modules/
dateServer/node_modules/
dateServer/secret
dateClient/platforms/
dateClient/plugins/
dateClient/www/lib/
dateClient/resources/
node_modules/
*.log
dateServer/public/lib/*

# Uncomment out the following four lines when you are deploying.
# dateServer/public/lib/bootstrap/dist/
# !dateServer/public/lib/bootstrap/dist/*
# dateServer/public/lib/jquery/dist/
# !dateServer/public/lib/jquery/dist/*