/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.like-dislike .button {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 47px;
  height: 47px;
  min-width: auto; 
  min-height: auto;
}

.button-dislike {
  float: left;
}

.button-like {
  float: right;
}

.button-prev {
  float: left;
}
.button-next {
  float: right;
}

a {
  color: $positive;
  text-decoration: none;
}

.item {
  h2 {
    text-align: center;
  }
}
.item.date-details {
  p {
    margin: 1em 0;
    font-size: 12px;
  }
  #map {
    margin-top: 1em;
    width: 100%;
    height: 300px;
  }
  .category, .address {
    margin: 0;
  }
  .category {
    color: #464648;
  }
  .address {
    color: #878795;
    span {
      display: block;
    }
  }
  .fs-link {
    text-align: right;
    a {
      text-decoration: none;
      color: $positive;
    }
  }
  .hours {
    margin: 1em 0;
    .open-day {
      font-weight: bold;
    }
  }
  .hours p {
    margin: 0;
  }
}