$primary: #6465B1;

.btn-main {
  color: #fff;
  background-color: #6465B1;
  border: 0 none;
  padding: 15px 30px;
  text-transform: uppercase;
  font-size: 14px;
  &:focus, &.focus {
    color: #fff;
    background-color: darken($primary, 10%);
  }
  &:hover, &.hover {
    color: #fff;
    background-color: darken($primary, 10%);
  }
  &:active, &.active {
    color: #fff;
    background-color: darken($primary, 10%);
  }
}

body {
  background: $primary;
  font-family: 'Lato';
  font-size: 15px; 
  color: #fff;
  line-height: 1.5;
  border-top: 6px solid #6465B1;
}

a {
  text-decoration: none;
  color: $primary;
}
a:hover {
  text-decoration: none;
}

section {
  padding: 100px 0;
  @media (max-width: 767px) {
    padding: 40px 0;
  }
}
.testimonials {
  background: darken($primary, 10%);
  h4 {
    margin-bottom: 40px;
  }
}
.testimonial {
  margin-bottom: 40px;
  @media(max-width: 767px) {
    margin-bottom: 20px;
  }
}
.testimonial .img {
  @media (min-width: 768px) {
    text-align: center;
  }
  text-align: left;
}
.testimonials img, .bios img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 3px solid white;
  display: inline;
}
.testimonials img { 
  @media(min-width: 768px) {
    max-width: 90px;
  }
}
.arrow_box {
  position: relative;
  background: #6465B1;
}
.testimonial .text:after {
  right: 100%;
  top: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(100, 101, 177, 0);
  border-right-color: $primary;
  border-width: 5px;
  margin-top: -10px;
}
.testimonial .text {
  position: relative;
  padding: 10px 20px;
  background: $primary;
  border-radius: 10px;
  font-size: 14px;
  p {
    padding-top: 10px;
    font-size: 15px;
    margin: 0;
  }
  p.author {
    padding: 0 0 12px;
    font-style: italic;
    color: lighten($primary, 30%);
  }
}
.never-run-out {
  text-align: center;
  padding-top: 40px;
  @media (max-width: 767px) {
    text-align: left;
  }
}
.icon {
  text-align: center;
  margin-bottom: 20px;
  font-size: 80px;
}
.icon i {
  // color: lighten($primary, 30%);
}

a {
  color: #fff;
  &:hover {
    color: lighten($primary, 20%);
  }
}
.container {
  max-width: 900px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
  &.current {
    color: #ccc;
  }

}
a.navbar-brand {
  margin-bottom: 1.5em; 
}

.navbar-nav {
  margin-top: 12px;
}

.navbar-default {
  border: 0 none;
  background: #fff;
  // color: #fff; 
}

h3 {
  margin-top: 2em;
  font-weight: 200;
  font-size: 42px;
  color: white;
  font-style: italic;
  @media (max-width: 979px) {
    font-size: 32px;
  }
}

h5 {
  font-weight: 700;
  font-size: 18px;
}

.navbar-brand img {
  width: 152px;
  height: 44px;
}

.navbar-default .navbar-nav>li>a {
  color: $primary;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #ccc;
}

.home .jumbotron {
  background: #fff url('../images/heart2.jpg') center center no-repeat;
  background-size: cover;
  color: #fff;
  .text {
    padding-bottom: 1em;
  }
  @media (min-width: 768px) {
    height: 400px;
    .text {
      padding-left: 2em;
    }
  }
  @media (max-width: 767px) {
    text-align: center;
    img {
      max-width: 50%;
      margin: 0 auto;
    }
  }
  @media (min-width: 1200px) {
    img {
      max-width: 70%;
      float: right;
    }
  }
}
.home {
  @media (max-width: 767px) {
    h3 {
      margin: 0
    }
    .jumbotron .text {
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }
}

section {
  clear: both;
}
.navbar-toggle {
  margin-top: 21px;
}

.btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

.footer {
  background: #222;
  padding: 2em 0 4em;
  a {
    color: lighten($primary, 10%);
    &:hover {
      color: #fff;
    }
  }
}
ul.footer-nav {
  list-style: none;
  margin: 40px 0 10px;
  padding: 0;
  li {
    display: inline;
    margin: 0 8px;
    text-transform: uppercase;
  }
}

.footer, .about footer p, footer p {
  font-size: 13px;
}
h4 {
  font-weight: 200;
  font-style: italic;
  color: #fff;
  font-size: 32px;
  margin-bottom: 32px;
}

h2 {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2em;
}
.demo {
  background: #222;
  p.intro {
    font-size: 18px;
    margin-bottom: 2em;
    text-align: left;
    font-style: italic;
    color: lighten($primary, 10%);
  }
  header {
    margin-bottom: 1em;
  }
}
.demo-wrapper {
  background: url('../images/iphone-skin.png') 0 0 no-repeat; 
  width: 334px;
  height: 679px;
  position: relative;
  margin: 0 auto;
  background-size: contain;
}
iframe {
  position: absolute;
  bottom: 83px;
  left: 24px;
  width: 287px;
  height: 511px;
}
.demo {
  a:hover, a:active, a:focus {
    color: #fff;
  }
}

.about {
  p {
    font-size: 17px;
    line-height: 1.75;
    @media (max-width: 767px) {
      font-size: 15px;
    }
  }
  h3 {
    margin: 0;
  }
  .bios {
    padding: 80px 0 40px;
    @media (max-width: 767px) {
      padding: 40px 0;
    }
  }
  a {
    color: lighten($primary, 20%);
  }
}
.bios {
  background: $primary;
}
.about .jumbotron {
  margin-bottom: 0;
  background: darken($primary, 10%);
}
.bio {
  border-bottom: 1px solid $primary;
  padding-bottom: 3em;
  .text {
    @media (max-width: 767px) {
      padding-top: 1em;
      h5 {
        font-size: 18px;
      }
    }
    h5 {
      font-size: 20px;
    }
  }
  a {
    color: #fff;
    border-bottom: 2px solid white;
    &:hover, &:active, &:focus {
      color: darken(#fff, 10%);
    }
  }
}

.stack {
  background: darken($primary, 10%);
}



.fork, .copy {
  display: inline;
  @media (max-width: 767px) {
    display: block;
  }
}

.fork {
  margin-left: 10px;
  @media (max-width: 767px) {
    margin: 0;
  }
}